/* src/style.css */

/* Estilos para o vídeo de introdução */
.intro-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Garantir que esteja no topo */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* O vídeo fica atrás da sobreposição */
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Efeito escuro para destacar o botão */
}

.history-button {
  font-size: 24px;
  padding: 15px 30px;
  background-color: #f1c40f; /* Amarelo para combinar com as cores do Golden State Warriors */
  color: #1d428a; /* Azul escuro */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.history-button:hover {
  background-color: #f39c12; /* Efeito ao passar o mouse */
}

/* Barra de progresso */
.progress-container {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #f1c40f;
  width: 0%;
  transition: width 0.3s ease;
}

/* Ocultando a barra de rolagem enquanto o vídeo está ativo */

/* Após esconder o vídeo, permitir a rolagem */
.intro-video-container + div {
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #f1c40f;
  color: #1d428a;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column; /* Padrão para orientação em coluna */
  padding: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  margin-bottom: 40px;
  width: 100%;
}

h2 {
  font-size: 2rem;
  color: #1d428a;
  margin-bottom: 20px;
  text-align: center; /* Centraliza o texto do título */
}

p {
  text-align: center; /* Centraliza o texto do parágrafo */
}

footer {
  background-color: #1d428a;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer .social a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.player-position,
.player-number {
  text-align: center;
  margin: 5px 0;
  color: #1d428a;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  color: #1d428a;
  text-align: center;
  margin: 10px 0;
}

/* Estilos gerais para o modo escuro */
.dark-mode {
  background-color: #121212; /* Cor de fundo escura */
  color: #ffffff; /* Cor do texto clara */
}

.dark-mode .player-card {
  background-color: #f1c40f;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  transition: transform 0.3s;
  width: 200px;
}

.dark-mode .nav-menu.active {
  background-color: #f1c40f;
}

.dark-mode .nav-links:hover {
  background-color: #1d428a;
  color: #f1c40f;
  transition: all 0.3s ease;
}

.dark-mode .navbar {
  background-color: #1d1d1d; /* Cor de fundo escura para navbar e footer */
}
.dark-mode header {
  color: #1d1d1d; /* Cor de fundo escura para navbar e footer */
}

.dark-mode footer {
  background-color: #f1c40f;
  color: #1d428a;
}
.dark-mode footer a {
  color: #1d428a;
}

.dark-mode h2 {
  color: #f1c40f;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 20px; /* Adiciona uma margem ao redor do botão */
  display: block; /* Faz com que o botão ocupe a linha inteira */
  color: inherit; /* Mantém a cor do texto conforme o tema */
}

/* Outras regras de estilo... */

/* Estilos para telas maiores */
@media (min-width: 768px) {
  nav ul li {
    margin: 0 20px;
  }

  main {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul li {
    font-size: 18px;
  }

  .section.schedule {
    display: flex;
    aling-itens: center;
    justify-content: center;
  }

  .section.schedule ul,
  .section.players ul {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .section.schedule ul li,
  .section.players ul li {
    margin-bottom: 10px;
  }
}
